@using App.Aplication
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title </title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="generator" content="" />
    <link rel="canonical" href="@Html.Raw(Request.Url.AbsoluteUri)" />
    <link rel="alternate" hreflang="vi_vn" href="@ViewBag.SiteUrl" />
    <meta name="robots" content="index, follow, noodp" />
    <meta name="googlebot" content="index,archive,follow,noodp" />
    <meta name="msnbot" content="all,index,follow" />
    <meta name="copyright" content="@Utils.CurrentHost" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="@ViewBag.Title" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />

    <!-- You can use Open Graph tags to customize link previews.-->
    <meta property="og:url" content="@(string.Concat(Utils.CurrentHost,ViewBag.Image))">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@(string.Concat(Utils.CurrentHost,ViewBag.Image))" />
    <link href="@ViewBag.Favicon" rel="shortcut icon" type="image/x-icon" />

    @{Html.RenderAction("GetMeta", "Summary"); }
    @{Html.RenderAction("GetMetaTagsSeo", "Summary");}

    @{Html.RenderPartial("_StyleSheet");}

    @RenderSection("stylesheets", false)
    @RenderSection("styles", false)

    @{Html.RenderPartial("_Scripts"); }

</head>
<body class="home option2">

    <!-- HEADER -->
    @{ Html.RenderAction("Header", "MenuNav", new { area = "" });}
    <!-- end header -->
    <!-- Home slideder-->
    @{Html.RenderAction("GetSlideShow", "SlideShow", new { area = "" }); }
    <!-- END Home slideder-->

    @{ Html.RenderAction("BannerHomeProduct", "Banner", new { area = "" });}

    @RenderBody()

    <!-- Footer -->
    @{Html.RenderAction("Footer", "Summary", new { area = "" }); }

    <a href="#" class="scroll_top" title="Scroll to Top" style="display: none;">Scroll</a>
    <div id="popup-newletter" class="hide hidden">
        <div class="pa-header">
            <h3 class="">
                Đăng ký nhận tin ngay hôm nay
            </h3>
            <div class="pnewle-message">
                <span>Chúng tôi hứa sẽ không gửi những mail với nội dung không quan trọng hoặc spam</span>
                <p>Bạn là người đầu tiên biết được về </p>
                <ul>
                    <li>Sản phẩm</li>
                    <li>Mã giảm giá</li>
                </ul>
                <p class="title-pnews">Đăng ký: </p>
            </div>
            <div class="pnewle-form">
                <form accept-charset='UTF-8' action='https://kute-shop.myharavan.com/account/contact' class='contact-form' method='post'>
                    <input name='form_type' type='hidden' value='customer'>
                    <input name='utf8' type='hidden' value='✓'>
                    <input type="hidden" id="Hidden1" name="contact[tags]" value="khách hàng tiềm năng, bản tin" />
                    <input name="contact[email]" type="email" placeholder="Đăng ký nhận bản tin..." required="required" class="newsletter-input form-control" aria-label="general.newsletter_form.newsletter_email">
                    <input type="submit" class="button_mini btn" value="Đăng ký">
                </form>
            </div>
            <div class="social-icons">
                <div class="block_content">
                    <ul class="list-unstyled clearfix">
                        <li class="facebook">
                            <a target="_blank" href="http://www.facebook.com/" title="kute-shop on Facebook" class="btn-tooltip" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a target="_blank" href="http://www.twitter.com/" title="kute-shop on Twitter" class="btn-tooltip" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="rss">
                            <a target="_blank" href="http://www.your-shop.com/feed/" title="kute-shop on RSS" class="btn-tooltip" data-original-title="RSS">
                                <i class="fa fa-rss"></i>
                                <span>RSS</span>
                            </a>
                        </li>
                        <li class="youtube">
                            <a target="_blank" href="https://www.youtube.com/" title="kute-shop on Youtube" class="btn-tooltip" data-original-title="Youtube">
                                <i class="fa fa-youtube"></i>
                                <span>Youtube</span>
                            </a>
                        </li>
                        <li class="google-plus">
                            <a target="_blank" href="https://plus.google.com/" title="kute-shop on Google Plus" class="btn-tooltip" data-original-title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                                <span>Google Plus</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
                                                              
    </script>
    <div class="modal fade hidden" id="quick-view-modal123" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title " id="">Thông tin sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><a aria-hidden="true"></a></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <form method="post" action="https://kute-shop.myharavan.com/cart/add">
                                <div class="col-lg-5 col-md-6">
                                    <div class="image-zoom row">
                                        <img class="p-product-image-feature" src="#">
                                        <div id="p-sliderproduct" class="flexslider">
                                            <ul class="slides"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6 pull-right" style="padding: 0px 10px;">
                                    <div class="form-input">
                                        <div class="product-title p-title">
                                        </div>
                                        <div class="product-price">
                                            <span class="p-price "></span>
                                            <del></del>
                                        </div>
                                    </div>
                                    <div class="form-input vid ">
                                        <div class="m-vendor">
                                        </div>
                                        <div class="m-sku">
                                        </div>
                                        <div class="m-tt">
                                        </div>
                                    </div>
                                    <div class="p-option-wrapper">
                                        <select name="id" class="" id="p-select"></select>
                                    </div>
                                    <div class="form-input ">
                                        <label>Số lượng</label>
                                        <input name="quantity" type="number" min="1" value="1" />
                                    </div>
                                    <div class="form-input" style="width: 100%">
                                        <button type="submit" class="btn-addcart">Thêm vào giỏ</button>
                                        <button disabled class="btn-detail addtocart btn-color-add btn-min-width btn-mgt btn-soldout">Hết hàng</button>
                                        <div class="qv-readmore">
                                            <span>hoặc </span><a class="read-more p-url" href="#" role="button">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="social-icons modal-fix">
                                        <div class="block_content">
                                            <ul class="list-unstyled clearfix">
                                                <li class="facebook">
                                                    <a target="_blank" href="http://www.facebook.com/" title="kute-shop on Facebook" class="btn-tooltip" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                        <span>Facebook</span>
                                                    </a>
                                                </li>
                                                <li class="twitter">
                                                    <a target="_blank" href="http://www.twitter.com/" title="kute-shop on Twitter" class="btn-tooltip" data-original-title="Twitter">
                                                        <i class="fa fa-twitter"></i>
                                                        <span>Twitter</span>
                                                    </a>
                                                </li>
                                                <li class="rss">
                                                    <a target="_blank" href="http://www.your-shop.com/feed/" title="kute-shop on RSS" class="btn-tooltip" data-original-title="RSS">
                                                        <i class="fa fa-rss"></i>
                                                        <span>RSS</span>
                                                    </a>
                                                </li>
                                                <li class="youtube">
                                                    <a target="_blank" href="https://www.youtube.com/" title="kute-shop on Youtube" class="btn-tooltip" data-original-title="Youtube">
                                                        <i class="fa fa-youtube"></i>
                                                        <span>Youtube</span>
                                                    </a>
                                                </li>
                                                <li class="google-plus">
                                                    <a target="_blank" href="https://plus.google.com/" title="kute-shop on Google Plus" class="btn-tooltip" data-original-title="Google Plus">
                                                        <i class="fa fa-google-plus"></i>
                                                        <span>Google Plus</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    @RenderSection("jquerys", false)
    @RenderSection("scripts", false)
    @RenderSection("google", false)
    @RenderSection("facebook", false)

</body>
</html>
