<!--GetStaticContentParent---->
@using Resources
@model App.Domain.StaticContents.StaticContent
@using App.Domain.Menus
@using App.Framework.Utilities

@if (Model != null)
{
    @*if (Model != null)
    {
        <section class="single-project no-padd-top">
            <div class="auto-container">

                <!--Default Two Column-->
                <div class="default-two-column">
                    <div class="row clearfix">

                        <!--Text Column-->
                        <div class="text-column col-md-12 col-sm-12 col-xs-12">
                            
                            <div class="text">
                                @Html.Raw(Model.ShortDesc)
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>
    }*@

    if (ViewBag.ListItems != null)
    {
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">


                        <!--Services Section-->
                        <section class="services-style-one padd-top-50 no-padd-ser ">
                            <div class="auto-container">
                                <!--Section Title-->

                                <div class="row clearfix">
                                    <!--Default Service Column-->
                                    @foreach (var item in (IEnumerable<MenuLink>)ViewBag.ListItems)
                                    {
                                        <div class="default-service-column col-md-4 col-sm-6 col-xs-12">
                                            <div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                                <div class="inner-most">
                                                    <figure class="image-box">
                                                        <a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})">
                                                            <img width="370" height="270" src="@item.ImageMediumSize.ValidateImage()"
                                                                 class="img-responsive wp-post-image"
                                                                 alt="@item.MenuName"
                                                                 srcset="@item.ImageMediumSize.ValidateImage() 370w,
                                                                 @item.ImageMediumSize.ValidateImage() 300w"
                                                                 sizes="(max-width: 370px) 100vw, 370px">
                                                        </a>
                                                    </figure>
                                                    <div class="lower-part">
                                                        <div class="left-curve"></div>
                                                        <div class="right-curve"></div>

                                                        <div class="content">
                                                            <h3>@item.MenuName</h3>
                                                            <div class="more-link"> 
                                                                <a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})"
                                                                   class="read-more">@T("Continus.Lable")</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                   

                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    }

    
}
else
{
    <div class="container">
        <p class="text-danger">@MessageUI.EmptyData</p>
    </div>
}
<!--/GetStaticContentParent---->
