<!----GetFooterLink-->

@using App.Aplication
@using App.FakeEntity.Menu
@model IEnumerable<MenuNavViewModel>
@if (Model.IsAny())
{
    int i = 0;

    foreach (MenuNavViewModel item in Model)
    {
        <div class="col-sm-4">
            <div class="introduce-title"> @item.MenuName</div>
            <ul id="introduce-Account" class="introduce-list">
                @foreach (var lv1 in item.ChildNavMenu)
                {
                    if (!string.IsNullOrEmpty(lv1.OtherLink))
                    {
                        <li><a href="@lv1.OtherLink">@lv1.MenuName</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("GetContent", "Menu", new { menu = lv1.SeoUrl, area = "" })">@lv1.MenuName</a></li>
                    }
                    i++;
                }
            </ul>
        </div>        
    }
}

<!----/GetFooterLink-->
