<!----BannerHomeProduct-->
@model IEnumerable<App.Domain.Entities.Ads.Banner>
@*@if (Model.IsAny())
    {*@
<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2 class="page-heading">
                    <span class="page-heading-title">
                        Sản phẩm khuyến mãi
                    </span>
                </h2>
                <div class="latest-deals-product">
                    <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="10" data-autoplaytimeout="1000" data-autoplayhoverpause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                        <li>
                            <div class="left-block">
                                <a href="products/bebe-gold-edp-for-women-nuoc-hoa-nu-100ml">
                                    <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/ld9_large.jpg" />
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Xem chi tiết" class="compare" href="products/bebe-gold-edp-for-women-nuoc-hoa-nu-100ml"></a>
                                    <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/bebe-gold-edp-for-women-nuoc-hoa-nu-100ml"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823191">Thêm vào giỏ</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    Sale
                                    <br> -25
                                    <strong>%</strong>
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="products/bebe-gold-edp-for-women-nuoc-hoa-nu-100ml">Bebe - Gold EDP For Women (Nước hoa Nữ) - 100ml</a></h5>
                                <div class="content_price">
                                    <span class="price product-price">1,200,000₫</span>
                                    <span class="price old-price">1,600,000₫</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a href="products/mat-day-20-0216p3001na611.html">
                                    <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p44_large.jpg" />
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Xem chi tiết" class="compare" href="products/mat-day-20-0216p3001na611.html"></a>
                                    <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/mat-day-20-0216p3001na611"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823198">Thêm vào giỏ</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    Sale
                                    <br> -20
                                    <strong>%</strong>
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="products/mat-day-20-0216p3001na611.html">Mặt dây hiện đại, sang trọng 20-0216P3001NA611</a></h5>
                                <div class="content_price">
                                    <span class="price product-price">11,200,000₫</span>
                                    <span class="price old-price">14,000,000₫</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a href="products/tui-deo-cheo-de-thuong-tao-net-nang-dong-day-ca-tinh-cho-ban-gai-zd959.html">
                                    <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/ld8_large.jpg" />
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Xem chi tiết" class="compare" href="products/tui-deo-cheo-de-thuong-tao-net-nang-dong-day-ca-tinh-cho-ban-gai-zd959.html"></a>
                                    <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/tui-deo-cheo-de-thuong-tao-net-nang-dong-day-ca-tinh-cho-ban-gai-zd959"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823141">Thêm vào giỏ</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    Sale
                                    <br> -24
                                    <strong>%</strong>
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="products/tui-deo-cheo-de-thuong-tao-net-nang-dong-day-ca-tinh-cho-ban-gai-zd959.html">Túi đeo chéo dễ thương - tạo nét năng động đầy cá tính cho bạn gái ZD959</a></h5>
                                <div class="content_price">
                                    <span class="price product-price">700,000₫</span>
                                    <span class="price old-price">920,000₫</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a href="products/tui-xach-nu-thoi-trang-dang-minibag-han-quoc-tre-trung-va-duyen-dang.html">
                                    <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/ld6_large.jpg" />
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Xem chi tiết" class="compare" href="products/tui-xach-nu-thoi-trang-dang-minibag-han-quoc-tre-trung-va-duyen-dang.html"></a>
                                    <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/tui-xach-nu-thoi-trang-dang-minibag-han-quoc-tre-trung-va-duyen-dang"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823153">Thêm vào giỏ</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    Sale
                                    <br> -29
                                    <strong>%</strong>
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="products/tui-xach-nu-thoi-trang-dang-minibag-han-quoc-tre-trung-va-duyen-dang.html">Túi xách nữ thời trang dáng minibag Hàn Quốc trẻ trung và duyên dáng</a></h5>
                                <div class="content_price">
                                    <span class="price product-price">500,000₫</span>
                                    <span class="price old-price">700,000₫</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a href="products/dien-thoai-lenovo-a7000-plus.html">
                                    <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/ld4_f38867e9-cb61-45b5-50af-4af91f838466_large.jpg" />
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Xem chi tiết" class="compare" href="products/dien-thoai-lenovo-a7000-plus.html"></a>
                                    <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/dien-thoai-lenovo-a7000-plus"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005821593">Thêm vào giỏ</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    Sale
                                    <br> -7
                                    <strong>%</strong>
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="products/dien-thoai-lenovo-a7000-plus.html">Điện thoại Samsung Galaxy S3 i9300</a></h5>
                                <div class="content_price">
                                    <span class="price product-price">3,900,000₫</span>
                                    <span class="price old-price">4,200,000₫</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a href="products/dam-body-duoi-ca-d0248.html">
                                    <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p35_large.jpg" />
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Xem chi tiết" class="compare" href="products/dam-body-duoi-ca-d0248.html"></a>
                                    <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/dam-body-duoi-ca-d0248"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823256">Thêm vào giỏ</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    Sale
                                    <br> -35
                                    <strong>%</strong>
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="products/dam-body-duoi-ca-d0248.html">Đầm body cá tình với nhiều màu sắc hiện đại, trẻ trung</a></h5>
                                <div class="content_price">
                                    <span class="price product-price">400,000₫</span>
                                    <span class="price old-price">620,000₫</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="items-show">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-3">
                        <div class="showitem">
                            <div class="show-text">
                                <h3>@item.Title</h3>
                                <a href="@item.WebsiteLink">&lt; xem chi tiết &gt;</a>
                            </div>
                            <a href="@item.WebsiteLink">
                                <img src="@Url.Content("~/"+item.ImgPath)" alt="@item.Title">
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@

@* } *@
<!----/BannerHomeProduct-->