<!---_ChangePasswordPartial-->

@using App.Aplication.Extensions
@model App.Front.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="columns-container">
    <div class="container login-shop" id="columns">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="layout-page">
                <span class="header-contact header-page clearfix text-center">
                    <h1>@ViewBag.Title</h1>
                </span>

                <div id="customer-login">
                    <div id="login" class="userbox" style="display: block;">
                        <div class="accounttype">
                            <h2 class="title"></h2>
                        </div>

                        @using (Html.BeginForm("Manage", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })
                            @Html.AntiForgeryToken()

                            <div class="clearfix large_form">
                                <label for="customer_email" class="icon-field"><i class="icon-login icon-envelope "></i></label>
                                @Html.TextBoxFor(mode => mode.OldPassword, new { type = "password", required = true, @class = "text", placeholder = Html.DisplayPlaceHolderFor(m => m.OldPassword) })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "required require_symbol" })
                            </div>

                            <div class="clearfix large_form">
                                <label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
                                @Html.TextBoxFor(mode => mode.NewPassword, new { type = "password", required = true, @class = "text", placeholder = Html.DisplayPlaceHolderFor(m => m.NewPassword) })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "required require_symbol" })
                            </div>

                            <div class="clearfix large_form">
                                <label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
                                @Html.TextBoxFor(mode => mode.ConfirmPassword, new { type = "password", required = true, @class = "text", placeholder = Html.DisplayPlaceHolderFor(m => m.ConfirmPassword) })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "required require_symbol" })
                            </div>

                            <div class="action_bottom">
                                <input class="btn btn-signin" type="submit" value="Change password">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---/_ChangePasswordPartial-->
