<!--ChangePassword-->

@using App.Aplication.Extensions
@model App.Front.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_MyAccount.cshtml";
    ViewBag.Title = "Thay đổi mật khẩu";
}

<h2 class="page-heading">
    <span class="page-heading-title2">@ViewBag.Title</span>
</h2>

<div class="box-authentication">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })
        @Html.AntiForgeryToken()

        @Html.LabelFor(mode => mode.OldPassword)
        @Html.TextBoxFor(mode => mode.OldPassword, new { type = "password", required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.OldPassword) })
        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "required require_symbol" })

        @Html.LabelFor(mode => mode.NewPassword)
        @Html.TextBoxFor(mode => mode.NewPassword, new { type = "password", required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.NewPassword) })
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "required require_symbol" })

        @Html.LabelFor(mode => mode.ConfirmPassword)
        @Html.TextBoxFor(mode => mode.ConfirmPassword, new { type = "password", required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.ConfirmPassword) })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "required require_symbol" })

       
        <button class="button" type="submit"><i class="fa fa-lock"></i>Change password</button>
    }
</div>

<!--/ChangePassword-->
