<!---ForgotPassword-->
@using App.Framework.UI.Extensions
@model App.Front.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Khôi phục mật khẩu";
}

<div class="columns-container">
    <div class="container login-shop" id="columns">
        <h2 class="page-heading">
            <span class="page-heading-title2">@ViewBag.Title</span>
        </h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="box-authentication box-wishlist">
                    @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })

                        <label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
                        @Html.TextBoxFor(mode => mode.Email, new { type = "email", required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.Email) })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "required require_symbol" })

                        <button class="button" type="submit"><i class="fa fa-user"></i> @ViewBag.Title</button>

                        @*<div class="action_bottom">
                            <input class="btn btn-signin" type="submit" value="@ViewBag.Title">
                        </div>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!---/ForgotPassword-->
