<!---Login-->
@using App.Aplication.Extensions
@using App.Front.Models
@model App.FakeEntity.User.RegisterFormViewModel

@{
    ViewBag.Title = "Đăng nhập";
}

<div class="columns-container login">
    <div class="container login-shop" id="columns">
        <h2 class="page-heading">
            <span class="page-heading-title2">@ViewBag.Title</span>
        </h2>
        <div class="row">
            <div class="col-sm-6">

                <div class="box-authentication box-wishlist">
                    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })

                        @Html.LabelFor(mode => mode.UserName)
                        @Html.TextBoxFor(mode => mode.UserName, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.UserName) })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "required require_symbol" })

                        @Html.LabelFor(mode => mode.Password)
                        @Html.TextBoxFor(mode => mode.Password, new { type = "password", required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.Password) })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "required require_symbol" })

                        <div class="login__forgot-pass">
                            <a href="@Url.Action("ForgotPassword","User")" onclick="showRecoverPasswordForm();return false;">Quên mật khẩu?</a>
                            hoặc
                            <a href="@Url.Action("Registration", "User", new {area = ""})" title="Đăng ký">Đăng ký</a>
                        </div>

                        <button class="button"><i class="fa fa-user"></i> Đăng nhập</button>
                    }


                    @{
                        Html.RenderAction("ExternalMethods", "ExternalAuthentication");
                    }
                </div>

            </div>

            <div class="col-sm-6">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </div>

        </div>

    </div>
</div>

<!---/Login-->
