<!----FooterLink-->
@using App.Core.Extensions
@using App.FakeEntity.Menus
@model IEnumerable<MenuNavViewModel>
@if (Model.IsAny())
{
	foreach (MenuNavViewModel lv1 in Model)
	{
		<div class="col-sm-4">
			<div class="gw-footer__introduce-box--introduce-title">
				<a href="@Url.Action("GetContent", "Menu", new {menu = lv1.SeoUrl, area = ""})"> @lv1.MenuName</a>
			</div>
			<ul id="introduce-Account" class="gw-footer__introduce-box--introduce-list">
				@foreach (var lv2 in lv1.ChildNavMenu)
				{
					if (!string.IsNullOrEmpty(lv2.OtherLink))
					{
						<li><a href="@lv2.OtherLink">@lv2.MenuName</a></li>
					}
					else
					{
						<li><a href="@Url.Action("GetContent", "Menu", new { menu = lv2.SeoUrl, area = "" })">@lv2.MenuName</a></li>
					}
				}
			</ul>
		</div>
	}
}

<!----/FooterLink-->
