<!---TopMenu.Mobile-->
@using App.Core.Extensions
@using App.FakeEntity.Menus
@model IEnumerable<MenuNavViewModel>

@if (Model != null)
{
	<div id="main-menu" class="col-sm-9 main-menu">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="#">MENU</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
					<ul class="nav navbar-nav">
						@{
							var i = 0;
							foreach (var lv1 in Model)
							{
								var clasActive = i == 0 ? "active" : "";
								var clasDropdown = lv1.ChildNavMenu.IsAny() ? "dropdown" : "";
								<li class="@clasActive @clasDropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#@(lv1.OtherLink = lv1.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv1.SeoUrl, area = ""}))" title="@lv1.MenuName">@lv1.MenuName</a>
									@if (lv1.ChildNavMenu.IsAny())
									{
										<ul class="dropdown-menu container-fluid">
											<li class="block-container">
												<ul class="block">
													@foreach (var lv2 in lv1.ChildNavMenu)
													{
														<li class="link_container"><a href="@(lv2.OtherLink = lv2.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv2.SeoUrl, area = ""}))" title="@lv2.MenuName">@lv2.MenuName</a></li>

													}
												</ul>
											</li>
										</ul>
									}
								</li>
								i++;
							}

						}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
	</div>
}

<!---/TopMenu.Mobile-->