<!----TopMenu ---->
@using App.Core.Extensions
@using App.FakeEntity.Menus
@model IEnumerable<MenuNavViewModel>

@if (Model != null)
{


    <div class="header-lower">



        <div class="auto-container">

            <div class="nav-outer">

                <!-- Main Menu -->

                <nav class="main-menu">

                    <div class="navbar-header">

                        <!-- Toggle Button -->

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>

                        </button>

                    </div>



                    <div class="navbar-collapse collapse clearfix">

                        <ul class="navigation clearfix">

                            @{
                                var i = 0;
                                foreach (var lv1 in Model)
                                {
                                    <li id="menu-item-@lv1.MenuId" class="menu-item menu-item-type-custom menu-item-object-custom @(i == 0 ? " current-menu-item current_page_item current-menu-ancestor current-menu-parent" : "") menu-item-has-children menu-item-22 dropdown active">
                                        <a title="@lv1.MenuName"
                                           href="@(lv1.OtherLink = lv1.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv1.SeoUrl, area = ""}))"
                                           data-toggle="dropdown1" class="hvr-underline-from-left1"
                                           aria-expanded="false" data-scroll data-options="easing: easeOutQuart">@lv1.MenuName</a>
                                        @if (lv1.ChildNavMenu.IsAny())
                                        {
                                            <ul role="menu" class="submenu">
                                                @foreach (var lv2 in lv1.ChildNavMenu)
                                                {
                                                    <li id="menu-item-@lv2.MenuId" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-@lv2.MenuId">
                                                        <a title="@lv2.MenuName"
                                                           href="@(lv2.OtherLink = lv2.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv2.SeoUrl, area = ""}))">@lv2.MenuName</a>
                                                    </li>
                                                }

                                            </ul>
                                        }

                                    </li>
                                    i++;
                                }
                            }

                        </ul>

                    </div>

                </nav><!-- Main Menu End-->

            </div>

        </div>

    </div>
}
<!----/TopMenu ---->
