<!----_Cart.CartItem-->
@model App.Front.Models.ShoppingCart.MiniShoppingCartModel

@foreach (var product in Model.Items)
{
    <tr class="cart_item" id="row@(product.Id)">

        <td class="cart-product-thumbnail">
            <a href="@Url.Action("PostDetail", "Post", new { seoUrl = product.SeoUrl, area = "" })">
                <img src="@Url.Content("~/" + product.ImageSmallSize)" alt="@product.Title">
            </a>
        </td>

        <td class="cart-product-name">
            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = product.SeoUrl, area = ""})">
                @Html.Raw(product.Title)
               
            </a>
            <p>
                <a href="" class="remove" title="Xóa" onclick="RemoveCartItem(@Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().Id);">
                    <i class="icon-trash2">Xóa</i>
                </a>
            </p>
        </td>

        <td class="cart-product-price">
            <span class="amount">
                @if (Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice != 0)
                {
                    @Html.Raw(string.Format("{0:##,### VND}", Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice))
                    @Html.Hidden("hddPrice" + product.Id, Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice)
                }
                else
                {
                    @T("LienHeDatHang.Lable")
                    @Html.Hidden("hddPrice" + product.Id, 0)
                }

            </span>
        </td>

        <td class="cart-product-quantity">
            <div class="quantity clearfix product-quantity">
                <input type="button" value="-" class="minus" onclick="MinusQuantity(@product.Id)">
                <input type="text" id='product_quantity_@product.Id' min="1" name="quantity_@product.Id"
                       value="@Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().Quantity" title="Qty" class="qty" size="4" />
                <input type="button" value="+" class="plus" onclick="PlusQuantity(@product.Id)">
            </div>
        </td>

        <td class="cart-amount">
            <span>
                @if (Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice != 0)
                {
                    var price = Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice;
                    var quantity = Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().Quantity;
                    @Html.Raw(string.Format("{0:##,### VND}", price * quantity))
                }
            </span>
        </td>
    </tr>
}
<tr style="text-align:center;">
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td><h4 style="margin-bottom:10px;">Tổng tiền </h4></td>
    <td class="cart-amount"><span class="cart-total"><strong>@string.Format("{0:##,### VND}", Model.SubTotal)</strong></span></td>
</tr>
<!----/_Cart.CartItem-->