<!----_Order.TopCart-->

@using App.Aplication
@model App.Front.Models.ShoppingCart.MiniShoppingCartModel

<a href="@Url.Action("Cart","ShoppingCart")" id="top-cart-trigger" class=''>
    <i class='fa fa-shopping-cart'></i>
    <span class='top_cart_qty'>@(Model.Items.Count())</span>
</a>
<div class="top-cart-content hidden">

    @if (!Model.Items.IsAny())
    {
        <div class="minicart-header">Chưa có sản phẩm trong giỏ!</div>
        <div class="minicart-footer">
            <div class="minicart-actions clearfix">
                <a class="button" href="/"><span class="text">VÀO CỬA HÀNG</span></a>
            </div>
        </div>
    }
    else
    {
        <div class="top-cart-title "><h4>Giỏ hàng</h4></div>
        if (Model.Items.IsAny())
        {
            foreach (var product in Model.Items)
            {
                <div class="top-cart-items">
                    <div class="top-cart-item clearfix">
                        <div class="top-cart-item-image">
                            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = product.SeoUrl, area = ""})">
                                <img src="@Url.Content("~/" + product.ImageSmallSize)" alt="@product.Title">
                            </a>
                        </div>
                        <div class="top-cart-item-desc">
                            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = product.SeoUrl, area = ""})">@product.Title</a>
                            <span class="top-cart-item-price">
                                @if (Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice != 0)
                                {
                                    @Html.Raw(string.Format("{0:##,### VND}", Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice))
                                }
                                else
                                {
                                    @T("LienHeDatHang.Lable")
                                }
                            </span>
                            <span class="top-cart-item-quantity">x @Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().Quantity</span>
                            <a class="top_cart_item_remove btnRemove" onclick="RemoveCartItem(@Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().Id);">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="top-cart-action clearfix ">
            <span class="fleft top-checkout-price">@string.Format("{0:##,### VND}", decimal.Parse(Model.SubTotal))</span>
            <button onclick="window.location.href='@Url.Action("Cart","ShoppingCart")'" class="button button-small nomargin fright">Xem giỏ hàng</button>
        </div>
    }
</div>
<!----/_Order.TopCart-->