<!--NewsDetail---->
@using App.Framework.Utilities
@model App.Domain.News.News

@if (Model != null)
{
    Html.RenderAction("BannerTop", "Banner", new { menuId = ViewBag.BannerId, title = ViewBag.Title });
    Html.RenderPartial("_BreadCrumb");

    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- sidebar area -->
                <!-- Side Bar -->
                <!--Content Side-->
                <div class="content-side  col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="blog-posts-container blog-details">
                        <!--Default Blog Post -->
                        <article class="default-blog-post">
                            <div class="inner-box">
                                <div class="inner-most">
                                    <figure class="image-box">
                                        <a href="index.html">
                                            <img width="770" height="494" src="@Model.ImageBigSize.ValidateImage()"
                                                 class="img-responsive wp-post-image" alt="@Model.Title"
                                                 srcset="@Model.ImageBigSize.ValidateImage() 770w,
                                                    @Model.ImageBigSize.ValidateImage() 300w,
                                                   @Model.ImageBigSize.ValidateImage() 768w,
                                                    @Model.ImageBigSize.ValidateImage() 369w"
                                                 sizes="(max-width: 770px) 100vw, 770px" />
                                        </a>
                                    </figure>
                                    <div class="lower-part">
                                        <div class="left-curve"></div>
                                        <div class="right-curve"></div>
                                        <div class="date-box"><span class="day">@Model.CreatedDate.ToString("dd/MM/yyyy")></span></div>

                                        <div class="content">
                                            <h3><a href="index.html">@Html.Raw(Model.Title)</a></h3>

                                            <div class="text">
                                                @Html.Raw(Model.Description)
                                            </div>
                                        </div>
                                    </div>
                                    <!--Post Info-->
                                    <ul class="post-info">
                                        <li>
                                            <span class="icon flaticon-square-1"></span> <strong>Category:</strong>
                                            <a >@Model.MenuLink.MenuName</a>
                                        </li>
                                       
                                    </ul>

                                </div>
                            </div>
                        </article>


                    </div>
                </div>
                <!--Content Side-->
                <!-- sidebar area -->
                <div class="sidebar wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_widgetised_column wpb_content_element">
                            <div class="wpb_wrapper">
                                @{Html.RenderAction("MenuNavNews", "MenuNav", new { virtualId = ViewBag.VirtualId, area = "" });}

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- sidebar area -->
            </div>
        </div>
    </div>

}

<!--/NewsDetail---->
