<!---Login-->
@model App.FakeEntity.User.RegisterFormViewModel

<div class="columns-container">
    <div class="container login-shop" id="columns">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="layout-page">
                <span class="header-contact header-page clearfix text-center">
                    <h1>Đăng nhập</h1>
                </span>

                <div id="customer-login">
                    <div id="login" class="userbox" style="display: block;">
                        <div class="accounttype">
                            <h2 class="title"></h2>
                        </div>
                        @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })
                            @Html.AntiForgeryToken()

                            <div class="clearfix large_form">
                                <label for="customer_email" class="icon-field"><i class="icon-login icon-envelope "></i></label>
                                @Html.TextBoxFor(mode => mode.Email, new {required = true, placeholder = "Email", @class = "text"})
                                @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "required require_symbol"})
                            </div>

                            <div class="clearfix large_form">
                                <label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
                                @Html.TextBoxFor(mode => mode.Password, new {required = true, placeholder = "Mật khẩu", @class = "text"})
                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "required require_symbol"})
                            </div>

                            <div class="action_bottom">
                                <input class="btn btn-signin" type="submit" value="Đăng nhập">
                            </div>
                            <div class="req_pass">
                                <a href="#" onclick="showRecoverPasswordForm();return false;">Quên mật khẩu?</a>

                                hoặc <a href="@Url.Action("Registration", "User", new { area = "" })" title="Đăng ký">Đăng ký</a>
                            </div>
                        }

                    </div>

                    <div id="recover-password" style="display: none;" class="userbox">
                        <div class="accounttype">
                            <h2>Phục hồi mật khẩu</h2>
                        </div>

                        <form accept-charset="UTF-8" action="/account/recover" method="post">
                            <input name="form_type" type="hidden" value="recover_customer_password">
                            <input name="utf8" type="hidden" value="✓">



                            <label for="email" class="icon-field"><i class="icon-login icon-envelope "></i></label>
                            <input type="email" value="" size="30" name="email" placeholder="Email" id="recover-email" class="text">

                            <div class="action_bottom">
                                <input class="btn" type="submit" value="Gửi">
                            </div>
                            <div class="req_pass">
                                <a href="#" onclick="hideRecoverPasswordForm();return false;">Hủy</a>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!---/Login-->
