<!---_Footer.Address-->
@model IEnumerable<App.Domain.ContactInfors.ContactInformation>

@if (Model != null)
{
    var contact = Model.SingleOrDefault(x => x.Type == 1);

    <h3>@T("Address.Lable")</h3>
    <ul class="contact-info">
        <li>
            <strong>@T("Address.Lable"):</strong> @contact.Address
        </li>
        <li>
            <strong>@T("DienThoai.Lable"):</strong> @contact.MobilePhone
        </li>
        <li>
            <strong>Email:</strong> @contact.Email
        </li>
    </ul>
}

<!---/_Footer.Address-->