<!---GetContactHeader-->

@model App.Domain.ContactInfors.ContactInformation
@if (Model != null)
{
    <div class="pull-right upper-right clearfix">



        <!--Info Box-->


        <div class="upper-column info-box">

            <div class="icon-box"><span class="flaticon-location"></span></div>

            <ul>

                <li><span class="small-title">@T("Address.Lable")</span></li>

                <li><a href="http://22b, london/"><strong>@Model.Address</strong></a></li>

            </ul>

        </div>




        <!--Info Box-->


        <div class="upper-column info-box">

            <div class="icon-box"><span class="flaticon-technology"></span></div>

            <ul>

                <li><span class="small-title">@T("DienThoai.Lable")</span></li>

                <li><a href="tel:@Model.MobilePhone"><strong>@Model.MobilePhone</strong></a></li>

            </ul>

        </div>




        <!--Info Box-->


        <div class="upper-column info-box">

            <div class="icon-box"><span class="flaticon-letter-1"></span></div>

            <ul>

                <li><span class="small-title">Email</span></li>

                <li><a href="@Model.Email"><strong>@Model.Email</strong></a></li>

            </ul>

        </div>




    </div>
}

<!---/GetContactHeader-->
