<!---_PostCategory.Post-->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Posts.Post>

@if (Model.IsAny())
{
	<h2 class="page-heading">
		<span class="page-heading-title">@ViewBag.Title</span>
	</h2>
	<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">


                <!--Latest Work-->
                <section class="gallery-section latest-work ">
                    <div class="auto-container">
                        <!--Section Title-->
                        <div class="sec-title text-center">
                            <h2>Latest <span class="theme_color">Works</span></h2>
                            <div class="text">
                                Claritas est etiam processus dynamicus, qui sequitur<br />
                                mutationem consuetudium lectorum.
                            </div>
                        </div>
                        <!--Sortable Masonry-->
                        <div class="sortable-masonry mixed-gallery-section clearfix">

                            <!--Filter-->
                            <div class="filters text-center">
                                <ul class="filter-tabs filter-btns clearfix anim-3-all">

                                    <li class="active filter" data-role="button" data-filter=".all"><span class="txt">All</span></li>
                                    <li class="filter" data-role="button" data-filter=".building">
                                        <span class="txt">Building</span>
                                    </li>
                                    <li class="filter" data-role="button" data-filter=".wooding">
                                        <span class="txt">Wooding</span>
                                    </li>
                                    <li class="filter" data-role="button" data-filter=".school">
                                        <span class="txt">School</span>
                                    </li>
                                    <li class="filter" data-role="button" data-filter=".other">
                                        <span class="txt">Other</span>
                                    </li>

                                </ul>
                            </div>

                            <div class="items-container row clearfix">



                                <!--Column-->
                                <div class="column all small-block wooding ">
                                    <!--Default Portfolio Item-->
                                    <div class="default-work-column">
                                        <div class="inner-box">
                                            <figure class="image-box"><img width="350" height="322" src="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1.jpg" class="img-responsive wp-post-image" alt="1" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1-300x276.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1-271x249.jpg 271w" sizes="(max-width: 350px) 100vw, 350px"></figure>
                                            <a href="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                            <div class="caption-layer">
                                                <div class="upper">
                                                    <h3><a href="http://themexriver.net/wp/constructorone/projects/construction/">Construction</a></h3>
                                                    <div class="category"><a href="http://themexriver.net/wp/constructorone/projects/construction/">Pre Work</a></div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="column all small-block wooding ">
                                    <!--Default Portfolio Item-->
                                    <div class="default-work-column">
                                        <div class="inner-box">
                                            <figure class="image-box"><img width="350" height="322" src="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1.jpg" class="img-responsive wp-post-image" alt="1" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1-300x276.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1-271x249.jpg 271w" sizes="(max-width: 350px) 100vw, 350px"></figure>
                                            <a href="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                            <div class="caption-layer">
                                                <div class="upper">
                                                    <h3><a href="http://themexriver.net/wp/constructorone/projects/construction/">Construction</a></h3>
                                                    <div class="category"><a href="http://themexriver.net/wp/constructorone/projects/construction/">Pre Work</a></div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--Column-->
                                <div class="column all small-block school ">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box">
                                            <figure class="image-box">
                                                <img width="271" height="249" src="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/7.jpg" class="attachment-constructone_img_seven size-constructone_img_seven wp-post-image"
                                                     alt="7" />
                                            </figure>
                                            <a href="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/7.jpg" class="lightbox-image overlay-link" title="Image Caption Here">
                                                <span class="icon flaticon-cross"></span>
                                            </a>
                                            <div class="caption-layer">
                                                <div class="upper">
                                                    <h3><a href="http://themexriver.net/wp/constructorone/projects/roofing-works-4/index.html">Roofing works</a></h3>
                                                    <div class="category">
                                                        School
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column all small-block other ">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box">
                                            <figure class="image-box">
                                                <img width="271" height="249" src="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/8.jpg" class="attachment-constructone_img_seven size-constructone_img_seven wp-post-image"
                                                     alt="8" />
                                            </figure>
                                            <a href="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/8.jpg" class="lightbox-image overlay-link" title="Image Caption Here">
                                                <span class="icon flaticon-cross"></span>
                                            </a>
                                            <div class="caption-layer">
                                                <div class="upper">
                                                    <h3><a href="http://themexriver.net/wp/constructorone/projects/wood-making-3/index.html">wood making</a></h3>
                                                    <div class="category">
                                                        Other
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column all small-block building other school wooding ">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box">
                                            <figure class="image-box">
                                                <img width="271" height="249" src="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/9.jpg" class="attachment-constructone_img_seven size-constructone_img_seven wp-post-image"
                                                     alt="9" />
                                            </figure>
                                            <a href="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/9.jpg" class="lightbox-image overlay-link" title="Image Caption Here">
                                                <span class="icon flaticon-cross"></span>
                                            </a>
                                            <div class="caption-layer">
                                                <div class="upper">
                                                    <h3><a href="http://themexriver.net/wp/constructorone/projects/roofing-works-5/index.html">Roofing works</a></h3>
                                                    <div class="category">
                                                        Building, Other, School, Wooding
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                        <!--Sortable Masonry-->

                    </div>
                    <div class="text-center padd-top-50">
                        <a href="index.html" class="more-link">See more works</a>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

	@*<ul class="row product-list grid filter">

		@foreach (var post in Model)
		{
			<li class="col-md-4 col-sm-6 col-xs-12">
				<div class="product-container">
					<div class="left-block">
						<a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
							<img class="img-responsive" alt="@post.Title" src="@(post.ImageMediumSize.ValidateImage())?size=400" />
						</a>
						@if (post.Discount.HasValue && !post.OutOfStock)
						{
							<span class="price-percent">
								Sale
								<br>
								- @Html.Raw(post.Discount.FormatPersent())
							</span>
						}
					</div>
					<div class="right-block">
						<h5 class="product-name">
							<a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})">@post.Title</a>
						</h5>
						<div class="content_price">
							@if (!post.OutOfStock)
							{
								<span class="price product-price">
									@if (post.Price.HasValue && post.Discount.HasValue)
									{
										@Html.Raw((post.Price - post.Price * post.Discount / 100).FormatPrice())
									}
									else if (post.Price.HasValue && !post.Discount.HasValue)
									{
										@Html.Raw(post.Price.FormatPrice())
									}
									else
									{
										@Html.Raw("LienHeDatHang.Lable")
									}
								</span>
								if (post.Discount.HasValue)
								{
									<span class="price old-price">@Html.Raw(post.Price.FormatPrice()) </span>
								}
							}
							else
							{
								<h5 class="product-name">
									<span class="label label-danger">Hết hàng</span>
								</h5>
							}
						</div>
						<div class="info-orther">
							<p>Mã sản phẩm:@post.ProductCode </p>
							<p class="availability">
								Trạng thái:
								@if (post.OutOfStock)
								{
									<span>Hết hàng</span>
								}
								else
								{
									<span>Còn hàng</span>
								}
							</p>
							<div class="product-desc">
								@Html.Raw(post.TechInfo)
							</div>
						</div>
					</div>
				</div>
			</li>
		}
	</ul>*@

	Html.RenderPartial("_PagedLinks");

}
else
{
	Html.RenderPartial("Messages/_MessageEmtyData");
}



<!---_PostCategory.Post-->
