<!---PostDiscount-->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Posts.Post>

@if (Model.IsAny())
{
	<div class="page-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<h2 class="page-heading">
						<span class="page-heading-title">
							Sản phẩm khuyến mãi
						</span>
					</h2>
					<div class="latest-deals-product">
						<ul class="gw-post-discount product-list owl-carousel">
							@foreach (var post in Model)
							{
								<li>
									<div class="left-block">
										<a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
											<img class="img-responsive" alt="@post.Title" src="@post.ImageMediumSize.ValidateImage()" />
										</a>
										@if (post.Discount.HasValue && !post.OutOfStock)
										{
											<div class="price-percent">
												Sale
												<br>
												- @Html.Raw(post.Discount.FormatPersent())
											</div>
										}
									</div>
									<div class="right-block">
										<h5 class="product-name">
											<a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})">@post.Title</a>
										</h5>
										<div class="content_price">
											@if (!post.OutOfStock)
											{
												<span class="price product-price">
													@if (post.Price.HasValue && post.Discount.HasValue)
													{
														@Html.Raw((post.Price - post.Price * post.Discount / 100).FormatPrice())
													}
													else if (post.Price.HasValue && !post.Discount.HasValue)
													{
														@Html.Raw(post.Price.FormatPrice())
													}
													else
													{
														@Html.Raw("LienHeDatHang.Lable")
													}
												</span>
												if (post.Discount.HasValue)
												{
													<span class="price old-price">@Html.Raw(post.Price.FormatPrice()) </span>
												}
											}
											else
											{
												<h5 class="product-name">
													<span class="label label-danger">Hết hàng</span>
												</h5>
											}
										</div>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<!---GetPostDiscount-->