<!---PostDetail--->
@using App.Core.Extensions
@using App.Domain.Common
@using App.Domain.Posts
@using App.Framework.Utilities
@model App.Domain.Posts.Post

@if (Model != null)
{
    Html.RenderAction("BannerTop", "Banner", new { menuId = ViewBag.MenuId, title = ViewBag.Title });

    Html.RenderPartial("_BreadCrumb");

    <section class="single-project no-padd-top">
        <div class="auto-container">

            <!--Upper Main Part-->
            <div class="upper-part">
                <!--Upper Image Section-->
                <div class="upper-box">
                    <figure class="main-image"><img src="@Model.ImageBigSize.ValidateImage()" alt="Awesome Image"></figure>
                    <div class="info-box">
                        <div class="white-bar"></div>

                        <h4></h4>
                        <div id="divAttribute"></div>
                        @*<ul>
                                <li class="clearfix"><strong>Client:</strong> <div class="data">Aber limited</div></li>
                                <li class="clearfix"><strong>Date:</strong> <div class="data">25th jan, 2016</div></li>
                                <li class="clearfix"><strong>budget:</strong> <div class="data">$20,000</div></li>
                                <li class="clearfix"><strong>location:</strong> <div class="data">NY, USA</div></li>
                                <li class="clearfix"><strong>surface:</strong> <div class="data">1200 ft2</div></li>
                                <li class="clearfix"><strong>architect:</strong> <div class="data">Hasib Sharif</div></li>
                            </ul>*@
                    </div>
                </div>

            </div>

            <!--Default Two Column-->
            <div class="default-two-column">
                <div class="row clearfix">

                    <!--Text Column-->
                    <div class="text-column col-md-12 col-sm-12 col-xs-12">
                        <h3>Chi tiết sản phẩm @Model.Title:</h3>
                        <div class="text">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

}

<script type="text/javascript">

    jQuery(function() {
        'use strict';

        //Get attribute
        var menuId = @(Model.Id > 0? Model.MenuId: -1);

        jQuery.post('@Url.Action("GetByMenuId", "Post")', { "menuId": menuId, "entityId": @Model.Id })
            .done(function(data) {
                if (data.success === true) {
                    jQuery("#divAttribute").html(data.list);
                }
            });
    });

</script>

@section facebook
{
    @*<div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=743590089013725&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>*@
}

@section google
{
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@
}

<!---/PostDetail---->
