@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Ads.Banner>
@if (Model.IsAny())
{
    <div class="footer-banner">
        @foreach (var item in Model)
        {
            <a href="@item.WebsiteLink" target="@item.Target" rel="nofollow">
                <img src="@item.ImgPath.ValidateImage()" alt="@item.Title" width="@item.Width" height="@item.Height"/>
            </a>
        }
    </div>
}
