<!---GetPostByCategory-->
@using App.Aplication
@model IEnumerable<App.Domain.Entities.Data.Post>

<div id="collection">

    <div class="columns-container">
        <div class="container" id="columns">

            @Html.Partial("_BreadCrumb")

            <!-- row -->
            <div class="row">
                @Html.Action("SearchBoxSideBar", "SearchBox", new
                {
                    area = "",
                    productOld = ViewBag.ProductOld,
                    productNew = ViewBag.ProductNew,
                    attributes = ViewBag.Attributes,
                    prices = ViewBag.Prices,
                    proAttrs = ViewBag.ProAttributes,
                    virtualId = ViewBag.VirtualId
                })

                @if (Model.IsAny())
                {
                    <div class="center_column col-xs-12 col-sm-9 product-col" id="center_column">
                        <!-- view-product-list-->
                        <div id="view-product-list" class="view-product-list">
                            <h2 class="page-heading">
                                <span class="page-heading-title">@ViewBag.Title</span>
                            </h2>
                            <ul class="display-product-option">
                                <li class="view-as-grid selected">
                                    <span>grid</span>
                                </li>
                                <li class="view-as-list">
                                    <span>list</span>
                                </li>
                            </ul>
                            <div class="browse-tags">
                                <span>Sắp xếp theo:</span>
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="sort-by custom-dropdown__select custom-dropdown__select--white">
                                        <option value="manual">Sản phẩm nổi bật</option>
                                        <option value="price-ascending">Giá: Tăng dần</option>
                                        <option value="price-descending">Giá: Giảm dần</option>
                                        <option value="title-ascending">Tên: A-Z</option>
                                        <option value="title-descending">Tên: Z-A</option>
                                        <option value="created-ascending">Cũ nhất</option>
                                        <option value="created-descending">Mới nhất</option>
                                        <option value="best-selling">Bán chạy nhất</option>
                                    </select>
                                </span>
                            </div>
                            <!-- PRODUCT LIST -->

                            <ul class="row product-list grid filter">

                                @foreach (var post in Model)
                                {
                                    <li class="col-md-4 col-sm-6 col-xs-12">

                                        <div class="product-container">
                                            <div class="left-block">
                                                <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
                                                    <img class="img-responsive" alt="@post.Title" src="@Url.Content("~/" + post.ImageMediumSize)" />
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Xem chi tiết" class="compare" href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})"></a>
                                                    <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830381">Thêm vào giỏ</a>
                                                </div>
                                                @if (post.Discount.HasValue)
                                                {
                                                    <div class="price-percent-reduction2">
                                                        Sale
                                                        <br>
                                                        <strong>@Html.Raw(post.Discount + "%")</strong>
                                                    </div>
                                                }
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name">
                                                    <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})">@post.Title</a>
                                                </h5>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        @if (post.Price.HasValue && post.Discount.HasValue)
                                                        {
                                                            @Html.Raw(string.Format("{0:##,### VND}", post.Price - post.Price * post.Discount / 100))
                                                        }
                                                        else if (post.Price.HasValue && !post.Discount.HasValue)
                                                        {
                                                            @Html.Raw(string.Format("{0:##,### VND}", post.Price))
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("LienHeDatHang.Lable")
                                                        }
                                                    </span>
                                                    @if (post.Discount.HasValue)
                                                    {
                                                        <span class="price old-price">@Html.Raw(string.Format("{0:##,### VND}", post.Price)) </span>

                                                    }
                                                </div>
                                                <div class="info-orther">
                                                    <p>Mã sản phẩm:@post.ProductCode </p>
                                                    <p class="availability">
                                                        Trạng thái:
                                                        @if (post.OutOfStock)
                                                        {
                                                            <span>Hết hàng</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Còn hàng</span>
                                                        }
                                                    </p>
                                                    <div class="product-desc">
                                                        @Html.Raw(post.TechInfo)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>

                            @{Html.RenderPartial("_PagedLinks");}
                            <!-- ./PRODUCT LIST -->
                        </div>
                    </div>
                }
                else
                {
                    Html.RenderPartial("Messages/_MessageEmtyData");
                }

            </div>
            <!-- ./row-->
        </div>
    </div>

    <!-- End no products -->
</div>
<script>
    Haravan.queryParams = {};
    if (location.search.length) {
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
            aKeyValue = aCouples[i].split('=');
            if (aKeyValue.length > 1) {
                Haravan.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
            }
        }
    }
    var collFilters = jQuery('.coll-filter');
    collFilters.change(function() {
        var newTags = [];
        var newURL = '';
        delete Haravan.queryParams.page;
        collFilters.each(function() {
            if (jQuery(this).val()) {
                newTags.push(jQuery(this).val());
            }
        });

        newURL = '/collections/' + 'all';
        if (newTags.length) {
            newURL += '/' + newTags.join('+');
        }
        var search = jQuery.param(Haravan.queryParams);
        if (search.length) {
            newURL += '?' + search;
        }
        location.href = newURL;

    });
    jQuery('.sort-by')
        .val('price-descending')
        .bind('change', function() {
            Haravan.queryParams.sort_by = jQuery(this).val();
            location.search = jQuery.param(Haravan.queryParams);
        });
</script>
<!---/GetPostByCategory-->