<!----GetProductHome-->
@using App.Aplication
@using App.Domain.Entities.Menu
@model IEnumerable<App.Domain.Entities.Data.Post>

@if (Model.IsAny())
{
    foreach (MenuLink menuLink in (IEnumerable<MenuLink>)ViewBag.MenuLinkHome)
    {
        <div class="category-featured jewelry">
            <nav class="navbar nav-menu show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand">
                        <a href="ts.html">
                            <img alt="fashion" src="/assets/255/1000074255/1000138323/icon-jewelry8e0e.png?v=8" />Trang sức
                        </a>
                    </div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-toggle="tab" href="#tab-20">Sản phẩm mới</a></li>
                            <li><a data-toggle="tab" href="#tab-21">Sản phẩm nỗi bật</a></li>
                            <li><a data-toggle="tab" href="#tab-22">Sản phẩm bán chạy</a></li>
                            <li><a data-toggle="tab" href="#tab-23">Trang sức hoàng cung</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
                <div id="elevator-5" class="floor-elevator">
                    <a href="#elevator-4" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="product-featured clearfix">
                <div class="row">
                    <div class="col-sm-2 sub-category-wapper">
                        <ul class="sub-category-list">
                            <li><a href="collections/all.html">Trang sức cưới</a></li>
                            <li><a href="collections/all.html">Trang sức vàng</a></li>
                            <li><a href="collections/all.html">Trang sức kim cương</a></li>
                            <li><a href="collections/all.html">Nhẫn đính hôn</a></li>
                            <li><a href="collections/all.html">Mặt đá quý</a></li>
                            <li><a href="collections/all.html">Ngọc trai</a></li>
                            <li><a href="collections/all.html">Trang sức CZ</a></li>
                            <li><a href="collections/all.html">Trang sức Italy</a></li>
                            <li><a href="collections/all.html">Trang sức Jemma</a></li>
                            <li><a href="collections/all.html">Vòng tay</a></li>
                            <li><a href="collections/all.html">Vòng cổ</a></li>
                            <li><a href="collections/all.html">Bông tai</a></li>
                            <li><a href="collections/all.html">Lắc tay, chân</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-10 col-right-tab">
                        <div class="product-featured-tab-content">
                            <div class="tab-container">
                                <div class="tab-panel active" id="tab-20">
                                    <div class="box-left">
                                        <ul class="owl-intab owl-carousel" data-loop="true" data-items="1" data-autoplay="true" data-dots="false" data-nav="true">
                                            <li>
                                                <a href="ts1.html">
                                                    <img src="/assets/255/1000074255/1000138323/banner-intab28e0e.jpg?v=8" alt="Image">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="ts2.html">
                                                    <img src="/assets/255/1000074255/1000138323/jewelry-slide8e0e.jpg?v=8" alt="Image">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-right">
                                        <ul class="product-list row">
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/mat-day-20-0216p3001na611.html">Mặt dây hiện đại, sang trọng 20-0216P3001NA611</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">11,200,000₫</span>
                                                        <span class="price old-price">14,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/mat-day-20-0216p3001na611.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p44_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/mat-day-20-0216p3001na611.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/mat-day-20-0216p3001na611"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823198">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-085-1014r7054vc1.html">Nhẫn nữ 085-1014R7054VC1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">55,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-085-1014r7054vc1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p82_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-085-1014r7054vc1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-085-1014r7054vc1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830453">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1210r4455a2.html">Nhẫn nữ 1210R4455A2</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                        <span class="price old-price">37,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1210r4455a2.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p83_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1210r4455a2.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1210r4455a2"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830455">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-full clearfix">
                                        <ul class="product-list">
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1211r0018bm.html">Nhẫn nữ 1211R0018BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">75,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1211r0018bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p84_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1211r0018bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1211r0018bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830456">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0109n7009pun1.html">Kiềng cổ 0109N7009PUN1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">1,300,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0109n7009pun1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p85_8c6527bf-848a-4791-7357-2a4f85fbf221_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0109n7009pun1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0109n7009pun1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830461">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-107r8044bm.html">Nhẫn nữ 107R8044BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-107r8044bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p86_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-107r8044bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-107r8044bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830458">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/hoa-tai-20-0216e6625na602.html">Hoa tai 20-0216E6625NA602</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">7,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/hoa-tai-20-0216e6625na602.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p87_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/hoa-tai-20-0216e6625na602.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/hoa-tai-20-0216e6625na602"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830494">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0912n0008bl1.html">Kiềng cổ 0912N0008BL1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">450,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0912n0008bl1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p33_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0912n0008bl1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0912n0008bl1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830492">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-panel" id="tab-21">
                                    <div class="box-full clearfix">
                                        <ul class="product-list">
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/mat-day-20-0216p3001na611.html">Mặt dây hiện đại, sang trọng 20-0216P3001NA611</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">11,200,000₫</span>
                                                        <span class="price old-price">14,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/mat-day-20-0216p3001na611.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p44_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/mat-day-20-0216p3001na611.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/mat-day-20-0216p3001na611"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823198">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/hoa-tai-20-0216e6625na602.html">Hoa tai 20-0216E6625NA602</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">7,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/hoa-tai-20-0216e6625na602.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p87_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/hoa-tai-20-0216e6625na602.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/hoa-tai-20-0216e6625na602"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830494">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/hoa-tai-20-0216e2617na610.html">Hoa tai 20-0216E2617NA610</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">32,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/hoa-tai-20-0216e2617na610.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p32_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/hoa-tai-20-0216e2617na610.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/hoa-tai-20-0216e2617na610"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830493">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0912n0008bl1.html">Kiềng cổ 0912N0008BL1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">450,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0912n0008bl1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p33_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0912n0008bl1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0912n0008bl1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830492">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0614n0096tb1.html">Kiềng cổ 0614N0096TB1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">30,030,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0614n0096tb1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p88_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0614n0096tb1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0614n0096tb1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830484">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0109n7009pun1.html">Kiềng cổ 0109N7009PUN1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">1,300,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0109n7009pun1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p85_8c6527bf-848a-4791-7357-2a4f85fbf221_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0109n7009pun1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0109n7009pun1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830461">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-107r8044bm.html">Nhẫn nữ 107R8044BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-107r8044bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p86_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-107r8044bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-107r8044bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830458">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1211r0018bm.html">Nhẫn nữ 1211R0018BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">75,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1211r0018bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p84_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1211r0018bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1211r0018bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830456">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1210r4455a2.html">Nhẫn nữ 1210R4455A2</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                        <span class="price old-price">37,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1210r4455a2.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p83_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1210r4455a2.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1210r4455a2"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830455">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-085-1014r7054vc1.html">Nhẫn nữ 085-1014R7054VC1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">55,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-085-1014r7054vc1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p82_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-085-1014r7054vc1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-085-1014r7054vc1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830453">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-panel" id="tab-22">
                                    <div class="box-left">
                                        <ul class="owl-intab owl-carousel" data-loop="true" data-items="1" data-autoplay="true" data-dots="false" data-nav="true">
                                            <li>
                                                <a href="ts3.html">
                                                    <img src="/assets/255/1000074255/1000138323/banner-intab8e0e.jpg?v=8" alt="Image">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="ts4.html">
                                                    <img src="/assets/255/1000074255/1000138323/jewelry-slide18e0e.jpg?v=8" alt="Image">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-right">
                                        <ul class="product-list row">
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0109n7009pun1.html">Kiềng cổ 0109N7009PUN1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">1,300,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0109n7009pun1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p85_8c6527bf-848a-4791-7357-2a4f85fbf221_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0109n7009pun1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0109n7009pun1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830461">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0912n0008bl1.html">Kiềng cổ 0912N0008BL1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">450,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0912n0008bl1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p33_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0912n0008bl1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0912n0008bl1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830492">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1211r0018bm.html">Nhẫn nữ 1211R0018BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">75,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1211r0018bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p84_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1211r0018bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1211r0018bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830456">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-full clearfix">
                                        <ul class="product-list">
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-085-1014r7054vc1.html">Nhẫn nữ 085-1014R7054VC1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">55,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-085-1014r7054vc1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p82_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-085-1014r7054vc1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-085-1014r7054vc1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830453">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1210r4455a2.html">Nhẫn nữ 1210R4455A2</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                        <span class="price old-price">37,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1210r4455a2.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p83_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1210r4455a2.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1210r4455a2"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830455">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-107r8044bm.html">Nhẫn nữ 107R8044BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-107r8044bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p86_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-107r8044bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-107r8044bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830458">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/hoa-tai-20-0216e2617na610.html">Hoa tai 20-0216E2617NA610</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">32,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/hoa-tai-20-0216e2617na610.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p32_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/hoa-tai-20-0216e2617na610.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/hoa-tai-20-0216e2617na610"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830493">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0614n0096tb1.html">Kiềng cổ 0614N0096TB1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">30,030,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0614n0096tb1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p88_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0614n0096tb1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0614n0096tb1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830484">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-panel" id="tab-23">
                                    <div class="box-full clearfix">
                                        <ul class="product-list">
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/mat-day-20-0216p3001na611.html">Mặt dây hiện đại, sang trọng 20-0216P3001NA611</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">11,200,000₫</span>
                                                        <span class="price old-price">14,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/mat-day-20-0216p3001na611.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p44_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/mat-day-20-0216p3001na611.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/mat-day-20-0216p3001na611"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005823198">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/hoa-tai-20-0216e6625na602.html">Hoa tai 20-0216E6625NA602</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">7,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/hoa-tai-20-0216e6625na602.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p87_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/hoa-tai-20-0216e6625na602.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/hoa-tai-20-0216e6625na602"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830494">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/hoa-tai-20-0216e2617na610.html">Hoa tai 20-0216E2617NA610</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">32,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/hoa-tai-20-0216e2617na610.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p32_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/hoa-tai-20-0216e2617na610.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/hoa-tai-20-0216e2617na610"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830493">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0912n0008bl1.html">Kiềng cổ 0912N0008BL1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">450,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0912n0008bl1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p33_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0912n0008bl1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0912n0008bl1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830492">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0614n0096tb1.html">Kiềng cổ 0614N0096TB1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">30,030,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0614n0096tb1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p88_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0614n0096tb1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0614n0096tb1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830484">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/kieng-co-0109n7009pun1.html">Kiềng cổ 0109N7009PUN1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">1,300,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/kieng-co-0109n7009pun1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p85_8c6527bf-848a-4791-7357-2a4f85fbf221_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/kieng-co-0109n7009pun1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/kieng-co-0109n7009pun1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830461">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-107r8044bm.html">Nhẫn nữ 107R8044BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-107r8044bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p86_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-107r8044bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-107r8044bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830458">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1211r0018bm.html">Nhẫn nữ 1211R0018BM</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">75,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1211r0018bm.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p84_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1211r0018bm.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1211r0018bm"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830456">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-1210r4455a2.html">Nhẫn nữ 1210R4455A2</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">33,000,000₫</span>
                                                        <span class="price old-price">37,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-1210r4455a2.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p83_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-1210r4455a2.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-1210r4455a2"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830455">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="products/nhan-nu-085-1014r7054vc1.html">Nhẫn nữ 085-1014R7054VC1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">55,000,000₫</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="products/nhan-nu-085-1014r7054vc1.html">
                                                        <img class="img-responsive" alt="product" src="/assets/255/1000074255/1/2016/3-4/p82_medium.jpg" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Xem chi tiết" class="compare" href="products/nhan-nu-085-1014r7054vc1.html"></a>
                                                        <a href="javascript:;" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/products/nhan-nu-085-1014r7054vc1"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-to-car" title="Add to Cart" href="javascript:;" data-variantid="1005830453">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class='index_col_wrap nobottommargin section nobg' id='divHomeProduct'>
                <div class='block_title'>
                    <h3>
                        <a href='@Url.Action("GetContent", "Menu", new {menu = menuLink.SeoUrl, area = ""})'>
                            @menuLink.MenuName
                        </a>
                    </h3>
                </div>

                <div class='row'>

                    <div class='col-xs-12 index_col_products'>
                        <div class='row'>
                            @foreach (var product in Model.Where(x => x.VirtualCategoryId.Contains(menuLink.CurrentVirtualId)))
                            {
                                <div class="product_single col-xs-6 col-md-3">
                                    <div class="product clearfix">
                                        <div class="product-image">
                                            <a href="@Url.Action("PostDetail","Post", new {seoUrl =product.SeoUrl,area=""})" title="@product.Title">
                                                <img width='240' height='240' data-lazyload="@Url.Content("~/" + product.ImageMediumSize)" alt="@product.Title" title="@product.Title">
                                            </a>

                                            <div class='product_overlay hidden-sm hidden-xs style_2'>
                                                <div class='quick_action clearfix'>
                                                    <a href="@Url.Action("PostDetail","Post", new {seoUrl =product.SeoUrl,area=""})" title="Thêm vào giỏ" data-toggle="tooltip" class="product_quick_add">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>

                                                    <a href="#@Url.Action("PostDetail","Post", new {seoUrl =product.SeoUrl,area=""})" title="Xem nhanh" data-toggle="tooltip" class="fancybox-fast-view"
                                                       product_url="@Url.Action("PostDetail","Post", new {seoUrl =product.SeoUrl,area=""})"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            <div class="product-title">
                                                <h4><a href="products/qcr-38.html">@product.Title</a></h4>
                                            </div>
                                            <div class="product-price">
                                                <ins>
                                                    @if (product.Price.HasValue && product.Discount.HasValue)
                                                    {
                                                        @Html.Raw(string.Format("{0:##,### VND}", product.Price - product.Price * product.Discount / 100))
                                                    }
                                                    else if (product.Price.HasValue && !product.Discount.HasValue)
                                                    {
                                                        @Html.Raw(string.Format("{0:##,### VND}", product.Price))
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("LienHeDatHang.Lable")
                                                    }
                                                </ins>

                                                @if (product.Discount.HasValue)
                                                {
                                                    <span class="price-regular">@Html.Raw(string.Format("{0:##,### VND}", product.Price)) </span>
                                                    <span class="product-discount">@Html.Raw(product.Discount + "%")</span>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class='clear'></div>*@
    }
}
else
{
    <p class="text-danger">
        Nội dung đang cập nhật
    </p>
}
<!----/GetProductHome-->
