<!---PostDiscount-->
@using App.Aplication
@model IEnumerable<App.Domain.Entities.Data.Post>

@if (Model.IsAny())
{
    <div class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h2 class="page-heading">
                        <span class="page-heading-title">
                            Sản phẩm khuyến mãi
                        </span>
                    </h2>
                    <div class="latest-deals-product">
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="10" data-autoplaytimeout="1000" data-autoplayhoverpause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                            @foreach (var post in Model)
                            {
                                <li>
                                    <div class="left-block">
                                        <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
                                            <img class="img-responsive" alt="@post.Title" src="@post.ImageMediumSize.ValidateImage()" />
                                        </a>
                                        @if (post.Discount.HasValue)
                                        {
                                            <div class="price-percent-reduction2">
                                                Sale
                                                <br>
                                                <strong>-@(post.Discount)%</strong>
                                            </div>
                                        }
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name">
                                            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})">@post.Title</a>
                                        </h5>
                                        <div class="content_price">
                                            <span class="price product-price">
                                                @if (post.Price.HasValue && post.Discount.HasValue)
                                                {
                                                    @Html.Raw(string.Format("{0:##,### VND}", post.Price - post.Price * post.Discount / 100))
                                                }
                                                else if (post.Price.HasValue && !post.Discount.HasValue)
                                                {
                                                    @Html.Raw(string.Format("{0:##,### VND}", post.Price))
                                                }
                                                else
                                                {
                                                    @Html.Raw("LienHeDatHang.Lable")
                                                }
                                            </span>
                                            @if (post.Discount.HasValue)
                                            {
                                                <span class="price old-price">@Html.Raw(string.Format("{0:##,### VND}", post.Price)) </span>

                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!---GetPostDiscount-->