@model IEnumerable<App.Domain.Entities.GlobalSetting.ContactInformation>
@if (Model != null)
{
    <div class="prefooter_two col-xs-12">
        <div class="widget widget_links clearfix">
            <div class="title-company">

                @{
                    var contact = Model.Where(x => x.Type == 1).SingleOrDefault();
                }
                <strong> @contact.Title</strong>
                <br /><i class="fa fa-map-marker"></i> @T("Address.Lable") : @contact.Address
                <br /> <i class="fa fa-phone"></i>  @T("DienThoai.Lable"):  @contact.MobilePhone
                <br /> <i class="fa fa-phone"></i>  @T("Hotline.Lable"):  @contact.Hotline
                <br /> <i class="fa fa-envelope"></i> Email:  @contact.Email
            </div>
            <h4 class='widget_trigger'><i class="fa fa-map-signs"></i> Hệ thống cửa hàng Mazzola</h4>
            <div class="widget_content">
                @foreach (var item in Model.Where(x => x.Type == 0))
                {
                    <p><i class="fa fa-map-marker"></i> @item.Title: 99 Trương Định, phường 6, Quận 3 </p>
                }
            </div>
        </div>
    </div>

                    }
