<!---_Checkout.Cart-->
@using App.Aplication
@model App.Front.Models.ShoppingCart.MiniShoppingCartModel

@if (Model != null)
{
	<div id="left_column">
		<div class="block left-module">
			<p class="title_block">Đơn hàng</p>
			<div class="block_content">
				<div class="checkout-cart">
					
					<div class="cart-items">
						@foreach (var product in Model.Items)
						{
							<div class="list_item cart-item">
								<div class="col-sm-6">
									<div class="product-thumbnail-wrapper">
										<img class="product-thumbnail-image" src="@product.ImageSmallSize.ValidateImage()" alt="@product.Title">
									</div>
									<span class="product-thumbnail-quantity" aria-hidden="true">
										@Model.ShoppingCarts.FirstOrDefault(x => x.PostId == product.Id).Quantity
									</span>
								</div>
								<div class="col-sm-6 price">
									@if (Model.ShoppingCarts.FirstOrDefault(x => x.PostId == product.Id).CustomerEnteredPrice != 0)
									{
										@Html.Raw(Model.ShoppingCarts.FirstOrDefault(x => x.PostId == product.Id).CustomerEnteredPrice.FormatPrice())
									}
									else
									{
										@Html.Raw("LienHeDatHang.Lable")
									}
								</div>
								<div class="col-sm-12 cart-item-title"> @product.Title</div>


							</div>
						}

					</div>
					<div class="total-price">
						Tạm tính <label>@Html.Raw(string.Format("{0:##,### VND}", Model.SubTotal))</label>
					</div>
					<div class="shiping-price hidden">
						Phí vận chuyển <label>0</label>
					</div>
					<a class="btn-coupon btn-arrow hidden" href="javascript:void(0);"><span></span>Sử dụng mã giảm giá </a>
					<div class="coupon hidden"><a class="remove-coupon">Xóa</a> <span></span> <label></label></div>
					<div class="use-coupon hidden">
						<div class="form-group">
							<input type="hidden" id="discount-apply" name="discount-apply">
							<input name="discount.code" class="couponcode" placeholder="Nhập mã giảm giá">
							<a class="btn-submit-coupon">Sử dụng</a>
							<a class="continue-coupon ">Tiếp tục sử dụng</a>
							<a class="cancel-coupon">Hủy</a>
						</div>
					</div>
					<div class="total-checkout">
						Tổng cộng <span> @Html.Raw(string.Format("{0:##,### VND}", Model.SubTotal))</span>
					</div>
				</div>
			</div>
		</div>
	</div>
}


<!---/_Checkout.Cart-->