<!---_Checkout.Cart-->
@model App.Front.Models.ShoppingCart.MiniShoppingCartModel

@if (Model != null)
{
    <div class="box-cart checkout-cart">
        <h2>Đơn hàng</h2>
        <div class="cart-items">
            @foreach (var product in Model.Items)
            {
                <div class="list_item cart-item">
                    <div class="col-sm-6">
                        <div class="product-thumbnail-wrapper">
                            <img class="product-thumbnail-image" src="@Url.Content("~/" + product.ImageSmallSize)" alt="@product.Title">
                        </div>
                        <span class="product-thumbnail-quantity" aria-hidden="true">
                            @Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().Quantity
                        </span>
                    </div>
                    <div class="col-sm-6 price">
                        @if (Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice != 0)
                        {
                            @Html.Raw(string.Format("{0:##,### VND}", Model.ShoppingCarts.Where(x => x.PostId == product.Id).FirstOrDefault().CustomerEnteredPrice))
                        }
                        else
                        {
                            @Html.Raw("LienHeDatHang.Lable")
                        }
                    </div>
                    <div class="col-sm-12 cart-item-title"> @product.Title</div>


                </div>
            }
            
        </div>
        <div class="total-price">
            Tạm tính <label>@Html.Raw(string.Format("{0:##,### VND}", Model.SubTotal))</label>
        </div>
        <div class="shiping-price hidden">
            Phí vận chuyển <label>0</label>
        </div>
        <a class="btn-coupon btn-arrow hidden" href="javascript:void(0);"><span></span>Sử dụng mã giảm giá </a>
        <div class="coupon hidden"><a class="remove-coupon">Xóa</a> <span></span> <label></label></div>
        <div class="use-coupon hidden">
            <div class="form-group">
                <input type="hidden" id="discount-apply" name="discount-apply">
                <input name="discount.code" class="couponcode" placeholder="Nhập mã giảm giá">
                <a class="btn-submit-coupon">Sử dụng</a>
                <a class="continue-coupon ">Tiếp tục sử dụng</a>
                <a class="cancel-coupon">Hủy</a>
            </div>
        </div>
        <div class="total-checkout">
            Tổng cộng <span> @Html.Raw(string.Format("{0:##,### VND}", Model.SubTotal))</span>
        </div>
    </div>
}


<!---/_Checkout.Cart-->