@using App.Aplication
@model App.Domain.GenericControls.GenericControl

@{
    string templateSuffix = null;
    switch (Model.ControlTypeId)
    {
        case (int)Contains.GenericControlType.DropdownList:
            {
                @Html.Label("DropdownList");
                break;
            }
        case (int)Contains.GenericControlType.RadioList:
        case (int)Contains.GenericControlType.Checkboxes:
            {
                templateSuffix = "CheckRadio";
                break;
            }
        case (int)Contains.GenericControlType.TextBox:
            {
                @Html.Label("TextBox");
                break;
            }
        case (int)Contains.GenericControlType.MultilineTextbox:
            {
                @Html.Label("MultilineTextbox");
                break;
            }
        case (int)Contains.GenericControlType.Datepicker:
            {
                @Html.Label("Datepicker");
                break;
            }
        case (int)Contains.GenericControlType.Boxes:
            {
                @Html.Label("Boxes");
                break;
            }
    }
}

<div class="choice-control">
    @{    
        Html.RenderPartial("ChoiceTemplates/Choice." + templateSuffix, Model);
    }
</div>